* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #eee;
}

.wrapper {
  padding: 20px;
  max-width: 1186px;
  background-color: #fff;
}


body,
h1,
p,
button {
  font-family: 'Open-sans', sans-serif;
}
.ds-pane button[role="tab"]:focus {
  border: 1px dashed;
}



.ds-accordion {
  width: 100%;
  box-shadow: 0 3px 4px rgba(0,0,0,0.4);
  background: #fff;
  border-radius: 3px;
  position: relative;
}

.ds-pane {
  width: 100%;
  background: #fff;
}
.ds-pane button[role="tab"]{
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  text-align: left;
  color: #A09161;
  font-size: 21px;
  height: 100px;
  line-height: 48px;
  font-weight: 300;
  background-color: #fff;
}
.ds-pane button[role="tab"]::before {
  content: '';
  border-style: solid;
  border-width: .15em .15em 0 0;
  height: .45em;
  display: inline-block;
  left: .15em;
  top: -5px;
  width: .45em;
  transform: rotate(135deg);
  position: relative;
  margin-right: 20px;
  transition: transform .25s ease-in-out;
}
.ds-pane .content {
  padding: 0px;
  visibility: hidden;
  height: 0;
  position: relative;
}

.ds-pane[aria-expanded="true"] .content {
  visibility: visible;
  height: auto;
  padding: 15px;
}
.ds-pane[aria-expanded="true"] button[role="tab"]::before {
  transform: rotate(-45deg);
  top: 0px;
}
.accordion__button {
  display: block;
  width: 100%;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #CCC;
  outline: none;
  cursor: pointer;
  background: #fff;
  text-align: left;
  color: #A09161;
  font-size: 21px;
  transition: background 0.2s;
}

.accordion__button::before {
  content: '\25be';
  float: left;
  padding-right: 15px;
}

.accordion__content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s;
  padding: 0 15px;
  font-family: 'Open-sans', sans-serif;
  font-weight: 300;
}

.js-accordion__button--active::before {
  content: '\25b4';
}


/* ********* */
/* Checkbox */
/* ******* */

input[type="checkbox"] {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
input[type="checkbox"] + label {
  position: relative;
  color: #282828;
  font-family: 'Open-sans', sans-serif;
  font-size: 14px;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 15px;
}
input[type="checkbox"] + label::before {
  content: '';
  position: relative;
  display: inline-block;
  margin-right: 10px;
  width: 25px;
  height: 25px;
  background: white;
  top: 0px;
  border: 1px solid #B4B4B4;
}
input[type="checkbox"]:checked + label::before {
}
input[type="checkbox"]:checked + label::after {
  content: '';
  position: absolute;
  top: 14px;
  left: 21px;
  border-left: 2px solid #505050;
  border-bottom: 2px solid #505050;
  height: 7px;
  width: 14px;
  transform: rotate(-45deg)
}
input[type="checkbox"]:focus + label::before {
  outline: 1px dashed #000;
}


/* ********* */
/* Input Sheet Grid */
/* ******* */

.input-sheet-grid__row {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}
.input-sheet-grid__cell {
  background-color: #F0F0F0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.input-sheet-grid__row--header p {
  font-weight: bold;
  font-size: 14px;
  margin: 0;
}
.input-sheet-grid__row--header p:not(:first-child) {
  margin: 0 0 15px 15px;
}

.flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}
.flex-250 {
  flex-basis: 250px;
  flex-grow: 1;
}
.justify-content-sb {
  justify-content: space-between;
}
.justify-content-fs {
  justify-content: flex-start;
}
.cell--25 {
  flex-basis: 25%;
}
.cell--50 {
  flex-basis: 50%;
}
.cell--12 {
  flex-basis: 12.5%;
}

.text-align--right {
  text-align: right;
}