* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #eee;
}


body,
h1,
p,
button {
  font-family: 'Open-sans', sans-serif;
}
.ds-pane button[role="tab"]:focus {
  border: 1px dashed;
}

.ds-accordion {
  width: 100%;
  max-width: 500px;
  box-shadow: 0 3px 4px rgba(0,0,0,0.4);
  background: #fff;
  border-radius: 3px;
  position: relative;
}

.ds-pane {
  width: 100%;
  background: #fff;
}
.ds-pane button[role="tab"]{
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  text-align: left;
  color: #A09161;
  font-size: 21px;
  height: 48px;
  line-height: 48px;
}
.ds-pane .content {
  overflow-y: scroll;
  padding: 0px;
  visibility: hidden;
  height: 0;
}
.ds-pane[aria-expanded="true"] .content {
  visibility: visible;
  height: auto;
  padding: 15px;
}
.accordion__button {
  display: block;
  width: 100%;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #CCC;
  outline: none;
  cursor: pointer;
  background: #fff;
  text-align: left;
  color: #A09161;
  font-size: 21px;
  transition: background 0.2s;
}

.accordion__button::before {
  content: '\25be';
  float: left;
  padding-right: 15px;
}

.accordion__content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s;
  padding: 0 15px;
  font-family: 'Open-sans', sans-serif;
  font-weight: 300;
}

.js-accordion__button--active::before {
  content: '\25b4';
}